:root {
  --border-color: #e2b714; /* Border color */
  --text-color: #d1d0c5;   /* text */
  --number-bg-color: #323437; /*number button background dark*/
  --bg-color: #323437; /* background light*/
  --bg-btn:#ff6600; /* special button background */
  --op-btn:#616161; /* operator button background */
  --calculator-bg:#2c2f33; /* calculator background */
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color); ;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  color: var(--text-color);
  list-style: none;
}
.calculator-container {
  margin-top: 50px;
  background-color: var(--calculator-bg);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  height: 500px;
}
.result-container {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 0px 5px;
  height: 110px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.history{
  font-size: 14px;
  text-align: left;
  color: var(--text-color);
  opacity: 0.8;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
   user-select: none;
}
.history:hover{
  opacity: 1;
  font-size: 16px;
  transition-duration: 300ms;
}
.result{
  font-size: 32px;
  text-align: right;
  color: var(--text-color);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.subhistory{
  text-align: right;
  font-size: 14px;
  color: var(--text-color);
  opacity: 0.7;
  
}
.number-pad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  font-size: 22px;
}

.btns {
  height: 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--number-bg-color);
  user-select: none;
}
.number-btn:hover{
  background-color: var(--op-btn);
  transition-duration: 300ms;
}
.operators{
  background-color: var(--op-btn);
}
.operators:hover{
  background-color: var(--number-bg-color);
  transition-duration: 300ms;
}
.O-btn{
  background-color: var(--bg-btn);
  color: black;
}
.O-btn:hover{
  background-color: var(--op-btn);
  color: var(--text-color);
  transition-duration: 300ms;
}
#minus , #plus , #multiply , #divide , #dot{
  font-size: 36px;
}